<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% endblock %}

      <title>
        {% block title %} Blog app {% endblock %}
      </title>

  </head>

    <body>
    {% include 'navbar.html' %}
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>


    {% block js %}
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    {% endblock %}
    </body>

</html>


